<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Table Assignment</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <h1 class="text-center my-2">User Table</h1>

    <table class="table table-bordered table-hover container-md my-5">
        <thead class="table-dark">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Full Name</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_data %}
            <tr>
                <td scope="row">{{ user['first_name'] }}</td>
                <td scope="row">{{ user['last_name'] }}</td>
                <td scope="row">{{ user['first_name'] }} {{ user['last_name'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>